.inner-div{
    margin: 10px;
    background: lightslategrey;
    width: 200px;
    height: 100px;
}
.box{
    margin-left: 100px;
    padding-left: 50px;
}
.outer-box{
    border:solid 1px;
    border-color:red;
    background-color: lightgreen;
    color: #fff;
    width: 300px;
    height: 200px;
}